h4, p, a {
	font-family: 'Alex Brush', cursive;
	color: #000000;
}
.hero-text button{
	color: #000000;
	background-color: #ffffff;
	border-color: #000000;
}
.hero-text p {
		font-size: 20pt;
}

h1 {
	font-size: 50px;
    background: -webkit-linear-gradient(#2c77ff, #e52ae1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2.00px; 
}
	
h2{
	font-size: 50px;
    background: -webkit-linear-gradient(#2c77ff, #e52ae1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2.00px; 
}

img {
	width: 100%;
	height: auto;
	}
	
nav .navbar-nav li a{
	font-family: 'Alex Brush', cursive;
    color: black !important;
  }
  
nav button{
	background-image: linear-gradient(white, white);
}  

nav {
	background-color: white;
}

.footer {

}
  
html {
	height: 100%;
}

body {
	background-image: url("../images/unicornPentagram.png");
	background-position: fixed;
	background-size: 40px 40px;
	height: 100%;
	
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/LiaInPentagramTestOriginal.png");
	width: auto;
	height:100vh;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.img-thumbnail{
	background-color: #f5d709;
}

@media only screen and (max-width: 375px) {
	.hero-image {
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/LiaInPentagramTestOriginal.png");
		width: 100%;
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
	}
	
	h1 {
		font-size: 40px;
		background: -webkit-linear-gradient(#2c77ff, #e52ae1);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke-color: black;
		-webkit-text-stroke-width: 2.00px; 
	}
	
	h2 {
		font-size: 50px;
		background: -webkit-linear-gradient(#2c77ff, #e52ae1);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke-color: black;
		-webkit-text-stroke-width: 2.00px; 
	}
}